<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="text-center">
  <button type="button" class="btn btn-danger text-center">
    <h1>You are not authorized to perform this action</h1>
  </button>
</div>