<%= render partial: "shared/navigation_bar"%>
<div class="container border"><br>
    <h1>What Type of Help do You Need?</h1><br>
    <ul>
        <li><a href="/sign_in_help"> Sign in Help</a></li>
        <li><a href="/user_management_help">User Management Help</a></li>
        <li><a href="/event_logs_help">Event Log Help</a></li>
    </ul>

</div>