<!DOCTYPE html>
<html>
    <%= render partial: "shared/navigation_bar"%>
    <body>
        <div class="container">
        <%= yield %>
        <text-align>
        <center>
        <h2>Welcome to the homepage, please choose a feature to begin.</h2>
        </center>
        </text-align>
        </div>
    </body>
</html>