<%= render partial: "shared/navigation_bar"%>
<div class="container">
    <text-align>
        <center>
            <h1>This is a page containing the ledger for account <%= @number %>.</h1>
        </center>
    </text-align>
</div>
