<!DOCTYPE html>
<html>
    <%= render partial: "shared/navigation_bar"%>
    <%= render 'flash_messages' %>
    <body>
        <div class="container">
        <%= yield %>
        <text-align>
        <center>
        <h2>This where you can adjust your user settings, another feature that will also be available at a later date.</h2>
        </center>
        </text-align>
        </div>
    </body>
</html>