<!DOCTYPE html>
<html>
    <%= render partial: "shared/navigation_bar"%>
    <%= render 'flash_messages' %>
    <body>
        <div class="container">
        <%= yield %>
        <h2 class="text-center">This where you can adjust your user settings, another feature that will also be available at a later date.</h2>
        </div>
    </body>
</html>