<!DOCTYPE html>
<html>
    <%= render partial: "shared/navigation_bar"%>
    <body>
    <div class="container">
        <%= yield %>
        <% if current_user.userType == 1 %>
        <text-align>
        <center>
        <h1>User Management</h1>
        </center>
        </text-align>
        <a class="btn btn-primary" href="/create" role="button">Create New User</a>
        <% else %>
        <text-align>
        <center>
        <h1>Forbidden. You do not have access to this page.</h1>
        </center>
        </text-align>
        <% end %>
    </div>
    </body>
</html>