<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">New Journal</a>
        </li>
        <% if current_user.userType == 1 %>
        <li class="nav-item">
        <a class="nav-link" href="/user_management">User Management</a>
        </li>
        <% end %>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/homepage"><%= image_tag("logo.png", width: '50px', :class => "mr-auto d-block")%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
        </button>
        </nav>
    </div>
    </p>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
        <a href="/profile" class="nav-link">
        <%= image_tag("profile.jpeg", width: '50px', :class => "ml-auto d-block")%>
        </a>
        <li class="nav-item">
        <p style="line-height:10%">
        <a class="nav-link"></a>
        <a class="nav-link" href="/profile"><%= current_user.username %></a>
        <a class="nav-link" href="/logout"><font size="-1">Logout</font></a>
        </p>
        </li>
        
        </ul>
    </div>
</nav>