<h1>Your MoneyBinder account has been approved by an Administrator</h1>
<p>
    <%= @user.username %>, your account has been approved and you can now login to MoneyBinder. Please click this link: 
    <a href= "<%= @url%>">Login here</a>
</p>