<h1>Please approve this new account on MoneyBinder</h1>
<p>
    <%= @new_user.username %>, created a new account and has resquested access to MoneyBinder. Please click this link: 
    <a href= "<%= @url%>">Approve here</a>
</p>