<%= render partial: "shared/navigation_bar"%>
<div class="container">
    <h1 class="text-center">This is a page containing the ledger for account <%= @acc_num %>.</h1>
    <body class="text-center"><%= link_to 'Back to Chart of Accounts', accounts_path %></body>
</div>
